

.mainContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: calc(100vh - 250px);
    text-align: center;
}

.mainContent h2 {
    font-size: 24px;
    font-weight: 300;
    padding: 0rem 4rem;
    line-height: 1.5rem;
}

.mainContent h1 {
    font-size: 42px;
    color: var(--yellow);
    font-weight: 700;
    padding: 0rem 4rem;
    line-height: 3rem;
}

.raiseHand {
    font-style: italic;
}

.saveTheDay {
    color: var(--black);
    background-color: var(--yellow);
}

.buttonsRow {
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
    width: 35%;
}

.enterButton {
    background-image: linear-gradient(to right, var(--black), var(--black));
    border: 2px solid var(--yellow);
    color: var(--yellow);
}

.enterButton:hover {
    background-image: linear-gradient(to right, var(--black), var(--black));
    border: 2px solid var(--yellow);
    color: var(--yellow);
}

.footer {
    position: fixed;
    bottom: 1rem;
    text-align: center;
    width: 100%;
}

.login {
    display: flex;
    flex-direction: column;
}

.line {
    height: 1px;
    width: 100%;
    background-color: var(--light-gray);
}

.loginWith {
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 500px;
    margin: 2rem 0rem;
}

.loginWith p {
    color: var(--light-gray);
}

@media screen and (max-width: 768px){
    .mainContent h1 {
        font-size: 32px;
        padding: 0rem 3rem;
    }
    .mainContent h2 {
        font-size: 18px;
        padding: 0rem 2rem;
        
    }
    .loginWith {
        width: 250px;
    }
    
}