.body {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.main {
    display: flex;
    width: 100%;
    margin-top: 7rem;
    background-color: var(--black);
    gap: 1rem;
    padding: 0.5rem;
}

.aside {
    width: 100px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.colleagues {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    text-wrap: wrap;
    gap: 0.5rem;
}

.colleagues p {
    font-size: 12px;
    font-weight: 300;
}

.person {
    border: 1px solid var(--yellow);
    border-radius: 10px;
    text-align: center;
    padding: 0.2rem;
    position: relative;
}

.person img {
    border: 1px solid var(--yellow);
}

.select {
    background-color: var(--black);
    border: 1px solid var(--yellow);
    border-radius: 5px;
    padding: 0.4rem;
    margin-bottom: 1rem;
    width: 100%;
}

.howItWorks {
    font-family: 'Fontdiner Swanky';
    font-size: 22px;
    text-align: center;
    margin-bottom: 1rem;
}

.text {
    font-size: 14px;
    font-weight: 300;
}

.text span {
    font-weight: 500;
}

.owner {
    background-color: var(--yellow);
    border-radius: 10px;
}

.owner img {
    border: 1px solid var(--black);
}

.iconInfo {
    position: absolute;
    width: 15px;
    top: 2rem;
    right: 0.5rem;
    border-radius: 30px;
}

.callToAction {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.instructions {
    display: flex;
    flex-direction: column; 
    gap: 0.5rem;
}

.header {
    top: -40px;
}

.iconUser {
    border-radius: 30px;
    height: 45px;
    border: 1px solid var(--yellow);
}

.button {
    width: 70%;
    height: 35px;
    font-size: 14px;
    font-weight: 600;
}

.rank {
    background-color: var(--black);
    position: absolute;
    width: 15px;
    height: 15px;
    top: 2rem;
    right: 0.5rem;
    border-radius: 30px;
    border: 1px solid var(--yellow);
    color: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}